/*+++++++++++++++++++++++++*/
/*   for base template     */
/*+++++++++++++++++++++++++*/

/* .page-header {
    width: 100%;
    height: 150px;
    margin-top: 0px;
    padding: 1px;
    background-color: #555555;
}

.main-logo {
    height: 100%;
}

.main-logo h1 a {
    color: white;
    line-height: 100px;
    font-family: 'Major Mono Display', monospace;
    font-size: 30px;
    text-decoration: none;
}

.curate-logo h1 a {
    color: white;
    line-height: 120px;
    margin-left: 10px;
    font-family: 'Cutive Mono', monospace;
    font-size: 20px;
    text-decoration: none;
}

.page-footer {
    width: 100%;
    height: 120px;
    margin-top: 280px;
    padding: 0px;
    background-color: #555555;
}

.copy-rights {
    width: 60%;
    height: 100%;
    margin: auto;
    position: relative;
}

.copy-rights p {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
} */

/*+++++++++++++++++++++++++*/
/*   for main template     */
/*+++++++++++++++++++++++++*/

/* .post {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.rec {
    padding-top: 40px;
    padding-bottom: 40px;
}

.post-header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 500px auto;
}

.post-title {
    padding-left: 30px;
}

.post-title h1 {
    color: black;
    font-family: 'Muli', sans-serif;
    font-size: 33px;
}

.rec-title h1 {
    font-size: 20px;
}

.post-title-link {
    color: black;
}

.post-title-link:hover {
    color: gray;
    text-decoration: none;
}

.topic-id {
    color: gray;
    font-size: 12px;
    border: solid 1px;
    border-radius: 2px;
    margin-left: 10px;
    padding: 2px;
}

.post-info {
    justify-self: end;
    align-self: end;
}

.post-date {
}

.date{
    color: #828282;
}

.edit{
    color: #828282;
    font-size:18px;
}

.post-edit{
    color: #828282;
    padding-left: 30px;
}

.post-text {
    padding-top: 20px;
    text-align: justify;
    text-justify: inter-ideograph;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    line-height: 23px;
    text-indent: 30px
}

.rec-text {
    font-size: 16px;
}

.post-form textarea, .post-form input{
    width: 100%;
}

.border-top {
    border-top: 1px solid gray;
} */




/* ##################### above: previous ##################### */
/* ##################### below: updated ##################### */




.footer {
  height: 100px;
  line-height: 100px;
}


.card-my {
  margin-top: 60px;
  margin-bottom: 160px;
}
.post-title-link {
    color: black;
    font-family: 'Muli', sans-serif;
    font-size: 33px;
}
.post-title-link:hover {
    color: gray;
    text-decoration: none;
}
.topic-id {
    color: gray;
    font-size: 12px;
    border: solid 1px;
    border-radius: 2px;
    margin-left: 10px;
    padding: 2px;
}
.date-color {
    color: #828282;
}
.post-text {
    text-align: justify;
    text-justify: inter-ideograph;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    line-height: 23px;
    text-indent: 30px
}


.rec-title {
    font-size: 20px;
}
.rec-text {
    font-size: 16px;
}
.rec-date {
    font-size: 12px;
}
.rec-card-my {
    margin-top: 80px;
    margin-bottom: 80px;
}


.post-form textarea, .post-form input{
    width: 100%;
}
.post-form-title {
  font-family: 'Muli', sans-serif;
  font-size: 33px;
}
