{% load static %}
<html>
    <head>
        <title>Aaure Library</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Major+Mono+Display|Muli" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/azure.css' %}">
    </head>
    <body>
        <div class="page-header">
            <div class="container">
                <div class="col-md-8">
                   <div class="main-logo">
                       <h1><a href={% url 'novel_list' %}>Azure Library</a></h1>
                   </div>
                </div>
                {% if curate %}
                <div class="col-md-4">
                   <div class="curate-logo">
                       <h1>
                           <a href={% url 'curate_novel_list' %}>curation</a>
                           <a href={% url 'curate_novel_new' %}>new</a></h1>
                   </div>
                </div>
                {% endif %}
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <div class="page-footer">
            <div class="container">
                <div class="copy-rights">
                    <p>Azure Library all rights reserved.</p>
                </div>
            </div>
        </div>

    </body>
</html>
