{% extends 'azure/base.html' %}

{% block content %}

  <main>
    <div class="container">

      <!-- #################### novel detail #################### -->
      <div class="row card-my">
        <div class="col col-lg-8">
          <div class="card border-0">
            <div class="card-body">
              <div class="post-header">
                  {% if curate %}
                      <a class="card-title post-title-link" href={% url 'curate_novel_detail' pk=post.pk %}>{{ post.title }}</a>
                      <span class="topic-id">Topic ID: {{ post.topic_id_1st }}</span>
                  {% else %}
                      <a class="card-title post-title-link" href={% url 'novel_detail' pk=post.pk %}>{{ post.title }}</a>
                  {% endif %}
                <div class="card-subtitle mb-2 text-right date-color">
                    <div class="date">
                      <p>
                        {% if post.published_date %}
                            {{ post.published_date | date:"Y M j"}}
                        {% endif %}
                      </p>
                  </div>
                </div>
              </div>
              <p class="card-text post-text">{{ post.text | linebreaksbr }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- #################### recommended novels #################### -->
      {% if recs %}
          <div class="col-lg-8 border-top pt-2">
              <div class=""><p>If you like <strong>{{ post.title }}</strong>, you may like novels below.</p></div>
          </div>
      {% endif %}
      {% for rec in recs %}
        <div class="row rec-card-my">
          <div class="col col-lg-8">
            <div class="card border-0">
              <div class="card-body">
                <div class="post-header">
                    {% if curate %}
                        <a class="card-title post-title-link rec-title" href={% url 'curate_novel_detail' pk=rec.pk %}>{{ rec.title }}</a>
                        <span class="topic-id">Topic ID: {{ post.topic_id_1st }}</span>
                    {% else %}
                        <a class="card-title post-title-link rec-title" href={% url 'novel_detail' pk=rec.pk %}>{{ rec.title }}</a>
                    {% endif %}
                  <div class="card-subtitle mb-2 text-right date-color">
                      <div class="date rec-date">
                        <p>
                          {% if rec.published_date %}
                              {{ rec.published_date | date:"Y M j"}}
                          {% endif %}
                        </p>
                    </div>
                  </div>
                </div>
                <p class="card-text post-text rec-text">{{ rec.text | linebreaksbr }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </main>

{% endblock %}
