{% extends 'azure/base.html' %}

{% block content %}

  <main>
    <div class="container">
      {% for post in posts %}
        <div class="row card-my">
          <div class="col col-lg-8">
            <div class="card border-0">
              <div class="card-body">
                <div class="post-header">
                    {% if curate %}
                        <a class="card-title post-title-link" href={% url 'curate_novel_detail' pk=post.pk %}>{{ post.title }}</a>
                        <span class="topic-id">Topic ID: {{ post.topic_id_1st }}</span>
                    {% else %}
                        <a class="card-title post-title-link" href={% url 'novel_detail' pk=post.pk %}>{{ post.title }}</a>
                    {% endif %}
                  <div class="card-subtitle mb-2 text-right date-color">
                      <div class="date">
                        <p>
                          {% if post.published_date %}
                              {{ post.published_date | date:"Y M j"}}
                          {% endif %}
                        </p>
                    </div>
                  </div>
                </div>
                <p class="card-text post-text">{{ post.text | linebreaksbr }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>

{% endblock %}
