{% extends 'azure/base.html' %}

{% block content %}
        <div class="contents container">
            <div class="col-md-8 post">
                <div class="post-header">
                    <div class="post-title">
                        <h1>{{ post.title }} 
                        {% if curate %}
                            <a class="edit" href={% url 'curate_novel_edit' pk=post.pk %}>[edit]</a>
                        {% endif %}
                        </h1>
                    </div>
                    <div class="post-info">
                        <div class="date"><p>
                            {% if post.published_date %}
                                {{ post.published_date | date:"Y M j"}}
                            {% endif %}
                        </p></div>
                    </div>
                </div>
                <div class="post-text">
                    <div class="">{{ post.text | linebreaks }}</div>
                </div>
            </div>
            {% if recs %}
                <div class="col-md-8 border-top">
                    <div class=""><h4>If you like {{ post.title }}, you may like novels below.</h4></div>
                </div>
            {% endif %}
            {% for rec in recs %}
                <div class="col-md-8 post rec">
                    <div class="post-header">
                        <div class="post-title rec-title">
                            <h1>
                                {% if curate %}
                                    <a class="post-title-link" href={% url 'curate_novel_detail' pk=rec.pk %}>{{ rec.title }}</a>
                                {% else %}
                                    <a class="post-title-link" href={% url 'novel_detail' pk=rec.pk %}>{{ rec.title }}</a>
                                {% endif %}
                            </h1>
                        </div>
                        <div class="post-info">
                            <div class="date"><p>
                                {% if rec.published_date %}
                                    {{ rec.published_date | date:"Y M j"}}
                                {% endif %}
                            </p></div>
                        </div>
                    </div>
                    <div class="post-text rec-text">
                        <div class="">{{ rec.text | linebreaksbr }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}
