{% extends 'azure/base.html' %}

{% block content %}

  <main>
    <div class="container">

      <!-- #################### novel detail #################### -->
      <div class="row card-my">
        <div class="col col-lg-8">
          <div class="card border-0">

            <div class="card-body px-0">
              <div class="row post-header">
                <div class="col-12 col-sm-7">
                  {% if curate %}
                    <h2 class="post-title">
                      {{ post.title }}
                      <a class="btn btn-outline-secondary px-1 py-0" href={% url 'curate_novel_edit' pk=post.pk %}>edit</a>
                    </h2>
                  {% else %}
                    <h2 class="post-title">{{ post.title }}</h2>
                  {% endif %}
                </div>
                <!-- d-flex align-items-end -->
                <div class="col-12 col-sm-5 card-subtitle text-left text-sm-right align-self-end mt-1 date-color">
                  {% if curate %}
                    <span class="topic-id">Topic ID: {{ post.topic_id_1st }}</span>
                  {% endif %}
                  {% if post.published_date %}
                    <span>{{ post.published_date | date:"Y M j"}}</span>
                  {% endif %}
                </div>
              </div>
              <p class="card-text post-text mt-4">{{ post.text | linebreaksbr }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- #################### recommended novels #################### -->
      {% if recs %}
          <div class="col-lg-8 border-top pt-2">
              <div class=""><p>If you like <strong>{{ post.title }}</strong>, you may like novels below.</p></div>
          </div>
      {% endif %}
      {% for rec in recs %}
        <div class="row rec-card-my">
          <div class="col col-lg-8">
            <div class="card border-0">
              <div class="card-body px-0">
                <div class="row post-header">
                  <div class="col-12 col-sm-7">
                    {% if curate %}
                      <a class="post-title post-title-link rec-title" href={% url 'curate_novel_detail' pk=rec.pk %}>{{ rec.title }}</a>
                    {% else %}
                      <a class="post-title post-title-link rec-title" href={% url 'novel_detail' pk=rec.pk %}>{{ rec.title }}</a>
                    {% endif %}
                  </div>
                  <!-- d-flex align-items-end -->
                  <div class="col-12 col-sm-5 card-subtitle text-left text-sm-right align-self-end mt-1 date-color">
                    {% if curate %}
                      <span class="topic-id">Topic ID: {{ rec.topic_id_1st }}</span>
                    {% endif %}
                    {% if rec.published_date %}
                      <span class="rec-date">{{ rec.published_date | date:"Y M j"}}</span>
                    {% endif %}
                  </div>
                </div>
                <p class="card-text mt-4 post-text rec-text">{{ rec.text | linebreaksbr }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </main>

{% endblock %}
